@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
    background-color: #00245C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    height: 80%;
    background-color: #FFFFFF;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sessao {
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: burlywood;
    padding: 0.7em;
}

.sessao h1 {
    font-size: 1.7em;
    height: 18%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kpis-geral {
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: spa;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
}

#projecao_notas {
    background-color: cadetblue;
}

.kpi {
    width: 100%;
    height: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    background-color: aqua;
}

#kpi_notas.kpis-geral {
    height: 100%;
    justify-content: space-between;
}

#kpi_notas.kpis-geral .kpi {
    height: 60%;
}