header {
    margin-bottom: 1.5em;
}

.sessao {
    height: 60vh;
}

.sessao .container {
    flex-direction: column;
    gap: 4em;
}

.sessao.button {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessao.button .container {
    height: 100%;
    justify-content: center;
}

.tutorial {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100%;
    gap: 1.2em;
}

.titulo {
    font-size: 3.2em;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
}

.img img {
    width: 18em;
}

.btn {
    width: 60%;
    border-radius: 2em;
    font-size: 1.1em;
}

.btn span {
    color: #00245C;
    text-decoration: underline;
    font-weight: 750;
}

footer {
    margin-top: 1em;
}

footer {
    background-color: #00245C;
}

.logo-reduzido {
    color: #ffffff;
}

footer p {
    color: #ffffff;
}

.parte-reduzido .titulo {
    color: #ffffff;
}

.parte-reduzido div.text-reduzido {
    color: #acacac;
}

.parte-reduzido div.imgs-logo img {
    filter: grayscale(100%) brightness(1.5);
}